---
import "../style.css";

const url = "https://bxkrncwullyblgqmyhzx.supabase.co/rest/v1/horizontal";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4a3JuY3d1bGx5YmxncW15aHp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ5ODQ1NzcsImV4cCI6MjAzMDU2MDU3N30.Rwwc-O88qXvYTF_AYVkxvJ-Fy1-sT0oalGR576_EPaI",
  },
};

const response = await fetch(url, options);
const data = await response.json();

const { header, subheader, filter, background, justify, gap, link } = Astro.props;
---

<section class="sectionContainer" id={link}>
  <div class="heading-slider">
    <p>{subheader}</p>
    <h2>{header}</h2>
  </div>
  <section class="horizontal-slider-container">
    <div class=`horizontal-slider ${justify}`>
      {
        data.map((product) => {
          if (product.type === `${filter}`) {
            return (
              <div class="slider-item">
                <img src={`/img/${product.img}`} alt={product.title} />
                <div class={`${background} ${gap}`}>
                  <p class="product_title">{product.title}</p>
                  <p class="product_subtitle">{product.subtitle}</p>
                </div>
              </div>
            );
          }
        })
      }
    </div>
  </section>
  <button class="scrollLeft moveSlide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="m15 4l2 2l-6 6l6 6l-2 2l-8-8z"></path></svg></button>
  <button class="scrollRight moveSlide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="m9.005 4l8 8l-8 8L7 18l6.005-6L7 6z"></path></svg></button>
</section>

<style>
  .horizontal-slider-container::-webkit-scrollbar {
    display: none;
  }
  .sectionContainer {
    margin-inline: var(--magn);
    margin-bottom: var(--l-spacing);
    scroll-margin-top: 6.25rem;
    position: relative;
  }

  .horizontal-slider-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
  }

  .horizontal-slider {
    display: flex;
    flex-direction: row;
    gap: var(--s-spacing);
  }

  .slider-item {
    flex-shrink: 0;
    width: calc(65% - (var(--s-spacing) * 2));
    display: inline-block;
    flex-direction: column;
  }

  .moveSlide {
    position: absolute;
    top: 30%;
    background-color: var(--p-white);
    border: none;
    border-radius: 100%;
    color: var(--p-blue);
    height: 40px;
    width: 40px;
    padding: var(--xs-spacing);
    transition: 150ms;
    cursor: pointer;
  }

  .scrollLeft {
    left: var(--s-spacing);
  }
  .scrollRight {
    right: var(--s-spacing);
  }

  .heading-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-bottom: var(--m-spacing);
    text-transform: uppercase;
  }

  .heading-slider p {
    color: var(--p-blue);
  }

  .gap {
    padding-top: var(--s-spacing) !important;
  }

  .blue {
    background-color: var(--p-blue);
    color: var(--p-white);
    font-size: var(--p-small-font-size);
    padding: var(--s-spacing);
  }
  .product_subtitle {
    opacity: 0.7;
    font-family: var(--subheading-font);
  }
  .product_title {
    text-transform: uppercase;
  }
  @media screen and (min-width: 800px) {
    .slider-item {
      width: calc(30% - (var(--xs-spacing) * 2));
    }

    .sectionContainer {
      margin-inline: var(--desk-magn);
      margin-bottom: var(--l-spacing);
    }
    .moveSlide:hover {
      background-color: rgba(253, 253, 253, 0.5);
      color: rgba(2, 79, 191, 0.5);
    }

    .heading-slider {
      align-items: center;
    }
    .moveSlide {
      position: absolute;
      top: 50%;
      background-color: var(--p-white);
      border: none;
      border-radius: 100%;
      color: var(--p-blue);
      height: 40px;
      width: 40px;
      padding: var(--xs-spacing);
      transition: 150ms;
    }
    .moveSlide:hover {
      background-color: rgba(253, 253, 253, 0.5);
      color: rgba(2, 79, 191, 0.5);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const containers = document.querySelectorAll(".sectionContainer");

    containers.forEach((container) => {
      const scrollRight = container.querySelector(".scrollRight");
      const scrollLeft = container.querySelector(".scrollLeft");
      const productListContainer = container.querySelector(".horizontal-slider-container");

      scrollRight.addEventListener("click", function () {
        productListContainer.scrollBy({
          top: 0,
          left: 250,
          behavior: "smooth",
        });
      });

      scrollLeft.addEventListener("click", function () {
        productListContainer.scrollBy({
          top: 0,
          left: -250,
          behavior: "smooth",
        });
      });
    });
  });
</script>
